
*{
  margin: 0px;
  padding: 0px;
}

body{
    background-color: lightgray;
    background-position: center center ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed ;
    color: black;
    }

.container{  
    
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.row{
    display:flex;
    flex-wrap: wrap;
    margin:10px;
}

.column{
    flex: 5;
    padding: 10px;
}

.gretting{
  text-align: center;
}

footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media (max-width: 600px){  /* RESPONSIVE*/
    .column {
        flex: 100%;
    }
}


/*PARA LA BARRA DE NAVEGACION*/

.container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: black;
  }
  
  
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  
  .brand {
    display: flex;
    align-items: center;
  }
  
  
  li>a {
    padding: 8px 24px;
  }
  
  
  li {
    list-style-type: none;
  }
  
  
  a {
    color: white;
    text-decoration:none;
  }
  
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .img-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  
  .button-menu-toggle {
    display: none;
  }


  @media (max-width: 768px) {
    .column {
      flex: 100%;
    }
  
  
    .nav-links {
      display:none;
    }
  
  
    .button-menu-toggle {
      display: block;
      background-color: white;
      border:none;
      border-radius: 50px;
      padding: 0 24px;
      font-family: monospace;
      font-weight: bold;
      font-size: 20px;
    }
   
    .nav-links.nav-links-responsive {
      position: absolute;
      display: flex;
      background-color: rgba(20,20,20,0.95);
      width: 100%;
      height: 100%;
      top: 70px;
      left: 0;
      flex-direction: column;
      padding-top: 200px;
      align-items: center;
      gap:70px;
      font-size: 40px;
  
    }

    .img-container{
      flex-direction: column;
    }
    }